/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #191919;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 30px;
  width: 100%;
  height: 861px;
  color: #191919;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 73px;
}
.header ul {
  display: inline-flex;
  padding-left: 0px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 77px;
}
.header li:hover {
  color: white;
}
.header li {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .header__div {
  width: 321px;
  height: 116px;
  margin-bottom: 94px;
}
.header .header__div-text {
  width: 321px;
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 36px; /* 20px */
}
.header .header__div-text_p {
  width: 110px;
  color: rgba(255, 255, 255, 0.569);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.header .header__div-inner {
  display: flex;
}
.header .header__div-img {
  width: 700px;
  height: 598px;
  background-image: url(/img/headerimg/img.png);
}
.header .header__div-title {
  padding-left: 110px;
}
.header .header__div-title_h1 {
  width: 580px;
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 74px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 74px */
  letter-spacing: 1.48px;
  text-transform: uppercase;
  padding-bottom: 86px;
}
.header .header__div-title_button {
  width: 400px;
  height: 68px;
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background-color: #DF3D3A;
}

.premium {
  position: relative;
  display: flex;
  width: 100%;
  height: 786px;
  color: #191919;
}

.premium__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premium__img {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute; */
  width: 590px;
  height: 616px;
  background-image: url(../img/premiumimg/img_womens.png);
}

.premium__div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.premium__title {
  width: 600px;
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.premium__title-ul {
  width: 510px;
  height: 198px;
}

.premium__title-ul_h3 {
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 20px;
}

.premium__title-ul_text {
  width: 510px;
  color: rgba(255, 255, 255, 0.569);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 40px;
  /* 29px */
}

.functional {
  width: 100%;
  height: 412px;
  color: #191919;
}
.functional .functional__title {
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  padding-left: 80px;
  margin-bottom: 50px;
}
.functional .functional__title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.functional .functional__title-ul {
  display: flex;
  width: 981px;
  height: 138px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 80px;
  gap: 20px;
}
.functional .functional__title-ul_text {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.functional .functional__title-ul_text-span {
  margin-left: 24px;
}
.functional .functional__title-ul_2 {
  display: flex;
  width: 981px;
  height: 138px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding-left: 80px;
}

.advantages {
  width: 100%;
  height: 1028px;
  background-color: #191919;
}
.advantages .advantages__div {
  max-width: 1440px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.advantages .advantages__title {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  justify-content: end;
  margin-bottom: 50px;
}
.advantages .advantages__img {
  width: 1440px;
  height: 524px;
  background-image: url(/img/advantagesbg/image\ 234.jpg);
}
.advantages .advantages__div-text {
  display: flex;
  gap: 40px;
  padding-left: 100px;
}
.advantages .advantages__div-ul {
  width: 510px;
  height: 169px;
}
.advantages .advantages__div-ul_title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 20px; /* 35px */
}
.advantages .advantages__div-ul_text {
  width: 510px;
  height: 116px;
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
}

.Bose_AR {
  display: flex;
  width: 100%;
  height: 756px;
}
.Bose_AR .Bose_AR__div {
  display: flex;
  height: 586px;
  padding-left: 100px;
  justify-content: space-between;
}
.Bose_AR .Bose_AR__div-img {
  width: 700px;
  height: 586px;
  background-image: url(/img/Bose_ARbg/img.jpg);
}
.Bose_AR .Bose_AR__div-ul {
  display: flex;
  width: 380px;
  flex-wrap: wrap;
  flex-direction: column;
}
.Bose_AR .Bose_AR__div-title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.Bose_AR .Bose_AR__div-ul_title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 20px; /* 35px */
}
.Bose_AR .Bose_AR__div-ul_text {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
}

.Guarantees {
  position: relative;
  display: flex;
  width: 100%;
  height: 735px;
}
.Guarantees .Guarantees__div {
  display: flex;
  height: 565px;
}
.Guarantees .Guarantees__div-img {
  display: flex;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 590px;
  height: 565px;
  background-image: url(/img/Guaranteesbg/img.jpg);
}
.Guarantees .Guarantees__div-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 150px;
}
.Guarantees .Guarantees__div-title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.Guarantees .Guarantees__div-ul_title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 35px */
}
.Guarantees .Guarantees__div-ul_icon {
  margin-bottom: 24px;
}
.Guarantees .Guarantees__div-ul_text {
  color: rgba(255, 255, 255, 0.569);
  width: 400px;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 69px; /* 29px */
}
.Guarantees .Guarantees__icon-div {
  padding-top: 492px;
  padding-left: 40px;
}

.history_brand {
  width: 100%;
  height: 1283px;
  color: #191919;
}

.history_brand__div {
  display: flex;
  justify-content: space-between;
}

.history_brand__div-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
}

.history_brand__div-ul_title {
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.history_brand__div-ul_text {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 74px; /* 29px */
}

.history_brand__div-ul_text_2 {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 74px; /* 29px */
}

.history_brand__div-ul_text_3 {
  color: rgba(255, 255, 255, 0.569);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 125px;
}

.history_brand__div-ul_text_min {
  color: rgba(255, 255, 255, 0.363);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 70%;
}

.history_brand__div-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 700px;
}

.history_brand__div-ul_title_2 {
  width: 382px;
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 32px; /* 35px */
}

.history_brand__div-ul_icon {
  margin-bottom: 50px;
}

.history_brand__div-ul_img {
  margin-bottom: 50px;
}

.swiper {
  width: 1440px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper-slide img {
  width: 58%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px !important;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl.swiper-button-next {
  left: 0px !important;
  right: auto;
}

/*  */
.video {
  width: 100%;
  height: 760px;
  background-color: #191919;
}

/* .video__div {
  display: flex;
  justify-content: space-between;
  width: 258px;
} */
.video__div-ul {
  margin-left: 30px;
  text-align: start;
  width: 258px;
}

.video__box-text {
  display: flex;
  width: 258px;
  flex-wrap: wrap;
  flex-direction: column;
}

.video__div-ul_title {
  color: #e7e7e7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.video__div-ul_link {
  color: #df3d3a;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}

.video__div-ul_text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 70px;
}

.video__div-ul_number {
  display: flex;
  gap: 12px;
}

.video__div-ul_number-li {
  color: #df3d3a;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.questions {
  width: 100%;
  height: 792px;
}

.questions__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.questions__div-ul_li {
  display: flex;
  width: 1059px;
  justify-content: space-between;
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 22px; /* 35px */
}

.questions__div-ul_line {
  width: 1059px;
  height: 1px;
  margin-bottom: 88px;
  background: rgba(255, 255, 255, 0.516);
}

.questions__div-ul_li-icon {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.questions__div-ul_li-box {
  display: flex;
  gap: 10px;
}

.questions__div-ul_title {
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.swiper-button__next,
.swiper__bose-rtl .swiper-button__prev {
  right: 0px !important;
  left: auto;
}

.swiper-button__prev,
.swiper__bose-rtl .swiper-button__next {
  left: 0px !important;
  right: auto;
}

.bose__700 {
  width: 100%;
  height: 100%;
  background-color: #191919;
}

.swiper__bose {
  width: 1380px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.swiper-slide__bose {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide__bose img {
  width: 58%;
  object-fit: cover;
}

.bose__700-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.bose__700-ul_line {
  width: 400px;
  height: 1px;
  gap: 26px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 26px;
}

.bose__700-ul_text {
  display: flex;
  width: 400px;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 25px; /* 20px */
}

.bose__700-ul_title {
  color: #E7E7E7;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.bose__700-ul_price {
  color: #DF3D3A;
  font-family: "Roboto";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 64.8px */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.bose__700-ul_button {
  display: flex;
  width: 400px;
  height: 68px;
  background-color: #DF3D3A;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 524px;
  margin-top: 170px;
}/*# sourceMappingURL=main.css.map */