.Bose_AR{
    display: flex;
   
    height: 756px;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
      width: 320px;
  }
  
  @media screen and (min-width: 768px) {
      width: 768px;
    }
  
  @media screen and (min-width: 1360px) {
      width: 1360px;
   }

    .Bose_AR__div{


        @media screen and (min-width: 320px) {
         padding-left: 20px;
       }
       
       @media screen and (min-width: 768px) {
        display: flex;
        height: 586px;
        padding-left: 60px;
        justify-content: space-between;
        
       }
       
       @media screen and (min-width: 1360px) {
        display: flex;
        height: 586px;
        padding-left: 100px;
        justify-content: space-between;
        }
   }
    }

    .Bose_AR__div-img{
      width: 700px;
      height: 586px;
     

      
      @media screen and (min-width: 320px) {
      
      }
      
      @media screen and (min-width: 768px) {
 
       
      }
      
      @media screen and (min-width: 1360px) {
        background-image: url(/img/Bose_ARbg/img.jpg);
       }
    }
    
    .Bose_AR__div-ul{
        display: flex;
        width: 380px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Bose_AR__div-title{
        color: $white;
        font-family: 'Roboto';
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 64.8px */
        letter-spacing: 1.08px;
        text-transform: uppercase;
        margin-bottom: 50px;

        @media screen and (min-width: 320px) {
            font-size: 24px;
            margin-bottom: 32px;
          }
          
          @media screen and (min-width: 768px) {
           font-size: 30px;
           margin-bottom: 32px;
          }
          
          @media screen and (min-width: 1360px) {
           font-size: 54px;
           margin-bottom: 50px;
           }
    }

    

    .Bose_AR__div-ul_title{
        color: $white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        line-height: 125%;

        @media screen and (min-width: 320px) {
            font-size: 20px;
            margin-bottom: 16px;
          }
          
          @media screen and (min-width: 768px) {
            font-size: 20px;
           margin-bottom: 16px;
          }
          
          @media screen and (min-width: 1360px) {
            font-size: 28px;
            margin-bottom: 20px;
           }
    }

    .Bose_AR__div-ul_text{
        color: $text;
        font-family: 'Roboto';
        
        font-style: normal;
        font-weight: 400;
        line-height: 145%; 

        @media screen and (min-width: 320px) {
            font-size: 14px;
          }
          
          @media screen and (min-width: 768px) {
            font-size: 16px;
          }
          
          @media screen and (min-width: 1360px) {
            font-size: 16px;
           }
    }
