.header {
<<<<<<< HEAD
=======
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
>>>>>>> 90113e53aaf4c231ef5a501d5805a3bf0116ce3a
  background-color: #191919;

  @media screen and (min-width: 320px) {
    padding-top: 24px;
    padding-bottom: 32px;
  }

<<<<<<< HEAD
  // @media screen and (min-width: 480px) {}

  @media screen and (min-width: 768px) {}
=======
  @media screen and (min-width: 480px) {
  
  }

  @media screen and (min-width: 768px) {
    
  }
>>>>>>> 90113e53aaf4c231ef5a501d5805a3bf0116ce3a

  @media screen and (min-width: 1360px) {
    padding-top: 66px;
    padding-bottom: 77px;
  }
}

<<<<<<< HEAD
.header>.conteiner {
  display: flex;
    @media screen and (min-width: 320px) {
      
    
      }
    
      @media screen and (min-width: 768px) {
   justify-content: start;
      }
    
      @media screen and (min-width: 1360px) {
      justify-content: space-between;
      }

=======
.header > .conteiner {
  display: flex;
  justify-content: space-between;
>>>>>>> 90113e53aaf4c231ef5a501d5805a3bf0116ce3a
}

.header-menu {
  @media screen and (min-width: 320px) {
    display: none;
  }

<<<<<<< HEAD
  // @media screen and (min-width: 480px) {
  //   display: none;
  // }
=======
  @media screen and (min-width: 480px) {
    display: none;
  }
>>>>>>> 90113e53aaf4c231ef5a501d5805a3bf0116ce3a

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1360px) {
    display: flex;
    gap: 77px;
  }
}

.menu-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}