.hero {
    background-color: #191919;
    @media screen and (min-width: 320px) {
      padding-bottom: 52px;
    }
  
 
  
    @media screen and (min-width: 768px) {
      padding-bottom: 100px;
    }
  
    @media screen and (min-width: 1360px) {
      padding-bottom: 170px;
    }
  }
  
  .hero > .container {
    @media screen and (min-width: 320px) {
    }
  
  
    @media screen and (min-width: 768px) {
      display: flex;
    }
  
    @media screen and (min-width: 1360px) {
      display: flex;
    }
  }
  
  .hero-text {
    color: rgba(255, 255, 255, 0.8);
  
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  
    @media screen and (min-width: 320px) {
      font-size: 14px;
    }
  
   
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  
    @media screen and (min-width: 1360px) {
      font-size: 16px;
    }
  }
  
  .top {
    @media screen and (min-width: 320px) {
      width: 222px;
      margin-bottom: 16px;
    }
  
 
  
    @media screen and (min-width: 768px) {
      width: 253px;
      margin-bottom: 16px;
    }
  
    @media screen and (min-width: 1360px) {
      width: 321px;
      margin-bottom: 36px;
    }
  }
  
  .bottom {
    @media screen and (min-width: 320px) {
      width: 100px;
      margin-bottom: 32px;
    }
  
 
  
    @media screen and (min-width: 768px) {
      width: 110px;
      margin-bottom: 105px;
    }
  
    @media screen and (min-width: 1360px) {
      width: 120px;
      margin-bottom: 94px;
    }
  }
  
  .hero-title {
    color: #e7e7e7;
  
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.48px;
    text-transform: uppercase;
    text-align: center;
  
    @media screen and (min-width: 320px) {
      font-size: 34px;
      width: 234px;
      margin-bottom: 32px;
    }
  
    @media screen and (min-width: 480px) {
    }
  
    @media screen and (min-width: 768px) {
    }
  
    @media screen and (min-width: 1360px) {
      font-size: 74px;
      width: 674px;
      margin-bottom: 86px;
    }
  }
  
  .hero-btn {
    color: rgba(255, 255, 255, 0.9);
  
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    background: #df3d3a;
  
    @media screen and (min-width: 320px) {
      font-size: 16px;
      padding: 19px 113px;
      margin-bottom: 32px;
    }
  
 
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
      padding: 19px 120px;
      margin-bottom: 32px;
      margin-left: 10px;
    }
  
    @media screen and (min-width: 1360px) {
      font-size: 20px;
      padding: 22px 166px;
  
      margin-left: 110px;
    }
  
    &:hover,
    &:focus {
      color: #df3d3a;
      background-color: #fff;
    }
  }
  
  .hero-img {
    @media screen and (min-width: 320px) {
    }
  
   
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 394px;
      flex-shrink: 0;
      margin-left: 60px;
    }
  
    @media screen and (min-width: 1360px) {
      width: 700px;
      height: 598px;
      flex-shrink: 0;
    }
  }
