.history_brand{
    width: 100%;
    height: 1283px;
    color: $dark;
}

.history_brand__div{
    display:flex ;
    justify-content: space-between;
}

.history_brand__div-ul{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
}

.history_brand__div-ul_title{
    color: #E7E7E7;
    font-family: 'Roboto'   ;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 50px ;
}

.history_brand__div-ul_text{
    color: $text;
    font-family:'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 74px; /* 29px */
}

.history_brand__div-ul_text_2{
    color: $text;
    font-family:'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 74px; /* 29px */
}

.history_brand__div-ul_text_3{
    color: $text;
    font-family:'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 125px;

}

.history_brand__div-ul_text_min{
    color: rgba(255, 255, 255, 0.363);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
}

.history_brand__div-img{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;
}

.history_brand__div-ul_title_2{
    width: 382px;       
    color: #E7E7E7;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 32px; /* 35px */
}

.history_brand__div-ul_icon{
    margin-bottom: 50px;
}
.history_brand__div-ul_img{
    margin-bottom: 50px;
}