
.premium{
  position: relative;
    display: flex;
    width: 100%;
    height: 786px;
    color: $dark;
}

.premium__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.premium__img{
  position: absolute;
  width: 590px;
  height: 616px;
  
  // background: url(<path-to-image>), lightgray -152.872px 0px / 185.447% 100% no-repeat;
  // mix-blend-mode: screen;
  background-image: url(../img/premiumimg/img_womens.png);
}
    
  
    .premium__div{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      margin-left: 470px;
      
      
    }
  
    .premium__title{
      width: 600px;
      color: #E7E7E7;
      font-family: 'Roboto';
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 64.8px */
      letter-spacing: 1.08px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
  .premium__title-ul{
    width: 510px;
    height: 198px;
  }
  .premium__title-ul_h3{
    color: #E7E7E7;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 20px;
  }
  .premium__title-ul_text{
    width: 510px;
    color: rgba(255, 255, 255, 0.569);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 40px;
     /* 29px */
  }
  