.premium{
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
   
    color: $dark;

    @media screen and (min-width: 320px) {
      
      height: 850px;
  }

  @media screen  and (min-width: 768px) {
    
    height: 786px;
  
  }

  @media screen and (min-width: 1360px) {
   
    height: 786px;
   }
}

.premium__box{
  @media screen and (min-width: 320px) {
    
  //  flex-direction: row-reverse;
  //  justify-content: space-around;
  padding: 52px 20px;
   align-items: center;
}


@media screen  and (min-width: 768px) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

}

@media screen and (min-width: 1360px) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
 }
 
}


.premium__img{
  background-repeat: no-repeat;
  background-size: contain;
  
  @media screen and (min-width: 320px) {
    width: 280px;
    height: 293px;
    background-image: url(../img/premiumimg/img_womens.png);
    
}

@media screen and (min-width: 768px) {
  width: 354px;
  height: 540px;
  background-image: url(../img/premiumimg/img_womens2x.png);
}

@media screen and (min-width: 1360px) {
  width: 590px;
  height: 616px;
  background-image: url(../img/premiumimg/img_womens.png);
    
 }
}
    
  
    .premium__div{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      @media screen and (min-width: 320px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
    @media screen and (min-width: 768px) {
     width: 300px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     margin-left: 60px;
     
    }
    
    @media screen and (min-width: 1360px) {
      display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
     }
    }
  
    .premium__title{
      
      color: #E7E7E7;
      font-family: 'Roboto';
      
      font-style: normal;
      font-weight: 600;
      line-height: 120%; 
      letter-spacing: 1.08px;
      text-transform: uppercase;
     

      @media screen and (min-width: 320px) {
        width: 216px;
        font-size: 24px;
        margin-bottom: 32px;
    }
    
    @media screen and (min-width: 768px) {
      width: 294px;
      font-size: 30px;
       margin-bottom: 32px;
    }
    
    @media screen and (min-width: 1360px) {
      width: 470px;
      font-size: 54px;
      margin-bottom: 50px;
     }
    }
  .premium__title-ul{
    width: 510px;
    height: 198px;
  }
  .premium__title-ul_h3{
    color: #E7E7E7;
    font-family: 'Roboto' ;
    
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    

    @media screen and (min-width: 320px) {
      width: 245px;
      font-size: 20px;
      margin-bottom: 16px;
  }
  
  @media screen and (min-width: 768px) {
    width: 295px;
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  @media screen and (min-width: 1360px) {
    width: 295px;
    font-size: 20px;
    margin-bottom:20px;
   }
  }
  .premium__title-ul_text{
    
    color: rgba(255, 255, 255, 0.569);
    font-family: 'Roboto';
    
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    
     /* 29px */

     @media screen and (min-width: 320px) {
      width: 280px;
      font-size: 16px;
      margin-bottom: 24px;
  }
  
  @media screen and (min-width: 768px) {
    width: 294px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  @media screen and (min-width: 1360px) {
    width: 510px;
    font-size: 20px;
    margin-bottom: 40px;
   }
  }

